<!-- Pixel garden along the bottom (sustainability theme). All drawn procedurally
     by garden.js; data-type + data-left position each plant. -->
<div class="garden" aria-hidden="true">
  <canvas class="plant" data-type="grass"   data-left="2"  width="48" height="80"></canvas>
  <canvas class="plant" data-type="sprout"  data-left="7"  width="48" height="80"></canvas>
  <canvas class="plant" data-type="flower"  data-left="12" data-hue="gold" width="48" height="80"></canvas>
  <canvas class="plant" data-type="fern"    data-left="24" width="48" height="80"></canvas>
  <canvas class="plant" data-type="flytrap" data-left="64" width="56" height="88"></canvas>
  <canvas class="plant" data-type="flower"  data-left="78" data-hue="pink" width="48" height="80"></canvas>
  <canvas class="plant" data-type="sprout"  data-left="84" width="48" height="80"></canvas>
  <canvas class="plant" data-type="grass"   data-left="90" width="48" height="80"></canvas>
  <canvas class="plant" data-type="flower"  data-left="95" data-hue="gold" width="48" height="80"></canvas>
</div>
